header.header
    .menuBar
        span.menuBar__item
        span.menuBar__item
        span.menuBar__item
    .container
        .row.header__wrap
            .col-md.center-wrap
                .logo
                    img(src="/img/logo.svg", alt="Teach Test").logo__img
            .col-md-6
                .header__center
                    .welcome
                        p.welcome__text Welcome to the new website. The last version is <a href="#" class="welcome__link">here</a>
                    nav.menu
                        ul.menu__list
                            li.menu__item 
                                a(href="#").menu__link About
                            li.menu__item 
                                a(href="#").menu__link View
                            li.menu__item 
                                a(href="#").menu__link FAQ
                            li.menu__item 
                                a(href="#").menu__link News
                            li.menu__item 
                                a(href="#").menu__link Contacts
            .col-md.center-wrap.startBtn-wrap
                a(href="#").startBtn GET STARTED
