main.main
    .container
        .row
            .col
            .col-5
                h1.caption ASK YOU TO DO THIS TASK <br> <span class="caption_bold">IN THE GOOD LEVEL</span>
                p.main__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                button(type="button" class="btn btn-light").mainBtn.mainBtn_orange GET STARTED
                button(type="button" class="btn btn-outline-light").mainBtn HOW TO START
            .col-4.d-flex.align-items-end
                .barelImg
                    img(src="/img/barel-golden-02.png", alt="barel golden").barelImg__img
            .col