main.main
    .main__topCont
        .container.main__duoLetters
            .row.main_mTop.main__letters
                .col-lg
                .col-lg-5.col-6
                    article.main__info.wow.fadeInUp
                        h1.caption ASK YOU TO DO THIS TASK <br> <span class="caption_bold">IN THE GOOD LEVEL</span>
                        p.main__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        .row
                            .col-xl-12.col-8.d-flex.flex-xl-row.flex-column.justify-content-start.main__buttons
                                a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.m-1.m-xl-0 GET STARTED
                                a(href="#" class="btn btn-outline-light").mainBtn.mainBtn_padding.m-1.m-xl-0.ml-xl-3 HOW TO START
                .col-lg-4.col-6.d-flex.align-items-end.justify-content-center
                    .barelImg.wow.rotateIn
                        img(src="/img/barel-golden-02.png", alt="barel golden").barelImg__img
                .col-lg-2
    .main__prods.main_pTop
        .container
            .row
                .col
                    h2.caption__duo.text-center Do Very Well Tech Task <br> In Few Simple Steps
            .row.prodsCard-wrap.d-flex.flex-lg-row.flex-column.align-items-center
                .col.d-flex.justify-content-center.prodsCard.prodsCard_yellow.wow.fadeInUp
                    .prodsCard__backImg.prodsCard__backImg_yellow
                    .prodsCard__backGrad.prodsCard__backGrad_yellow
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>
                .col.d-flex.justify-content-center.prodsCard.prodsCard_orange.wow.fadeInUp(data-wow-delay=".3s")
                    .prodsCard__backImg.prodsCard__backImg_orange
                    .prodsCard__backGrad.prodsCard__backGrad_orange
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>
                .col.d-flex.justify-content-center.prodsCard.prodsCard_red.wow.fadeInUp(data-wow-delay=".6s")
                    .prodsCard__backImg.prodsCard__backImg_red
                    .prodsCard__backGrad.prodsCard__backGrad_red
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>
                .col.d-flex.justify-content-center.prodsCard.prodsCard_darkRed.wow.fadeInUp(data-wow-delay=".9s")
                    .prodsCard__backImg.prodsCard__backImg_darkRed
                    .prodsCard__backGrad.prodsCard__backGrad_darkRed
                    .text-center.d-flex.flex-column.justify-content-between.prodsCard__wrap
                        .prodsCard__top
                            h3.m-0.prodsCard__caption AAA
                            p.prodsCard__description Tech Task For You
                        .prodsCard__bottom
                            a(href="#" class="btn btn-light").mainBtn.mainBtn_orange.mainBtn_padding.prodsCard__btn GET STARTED
                            p.prodsCard__cost Tech Task <span class="prodsCard__price">$00.00</span>