@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

@import "import/vars";
@import "import/mixins";
@import "import/header";
@import "import/main";
@import "import/footer";
@import "import/template";
@import "import/media";