.main {
    color: $basicWhite;
    overflow: hidden;
    &_mTop {
        padding-top: 85px;
    }
    &_pTop {
        padding-top: 130px;
    }
    &__topCont {
        @extend %basePos;
        min-height: 535px;
        @include backImg('/img/background.svg', 100%, 50% bottom);
    }
    &__info {
        padding: 20px 0;
    }
    &__description {
        line-height: 19px;
        font-weight: 300;
    }
    &__buttons {
        margin: 40px 0 0;
    }
    &__letters {
        @extend %basePos;
        &::after {
            content: "";
            @extend %absolutePos;
            bottom: -85px;
            left: 130px;
            display: block;
            width: 200px;
            height: 200px;
            z-index: -1;
            @include backImg('/img/leaf-04.png', 140%, center);
        }
        &::before {
            content: "";
            @extend %absolutePos;
            top: -65px;
            left: 21%;
            display: block;
            width: 130px;
            height: 130px;
            z-index: -1;
            @include backImg('/img/leaf-05.png', 140%, center);
        }
    }
    &__duoLetters {
        @extend %basePos;
        &::after {
            content: "";
            @extend %absolutePos;
            top: 58px;
            right: 0px;
            display: block;
            width: 200px;
            height: 200px;
            @include backImg('/img/leaf-01.png', 100% 110%, top);
        }
    }
}

.caption {
    text-transform: uppercase;
    font-weight: 300;
    font-size: (26rem / 16);
    &_bold {
        @extend %freedokaFont;
        font-size: (36rem / 16);
        text-shadow: 0px 3px 6px #A55E00;
    }
    &__duo {
        @extend %freedokaFont;
        color: $baseOrange;
        font-size: (36rem / 16);
    }
}

.mainBtn {
    font-size: (14rem / 16);
    &_padding {
        padding: 11px 48px;
    }
    &_orange {
        color: $baseOrange;
    }
}

.prodsCard-wrap {
    padding: 40px 0;
}

.prodsCard {
    @extend %basePos;
    width: 100%;
    height: 331px;
    border-radius: 4px;
    box-shadow: 0px 6px 9px 0px rgba(165, 94, 0, 0.25);
    margin: 0 15px;
    padding: 30px 0;
    overflow: hidden;
    &:hover .prodsCard__backImg {
        background-position-y: 85px;
    }
    &_yellow {
        background: linear-gradient(180deg, rgba(243, 202, 34, 1), rgba(216, 122, 0, 1) 100%);
    }
    &_orange {
        background: linear-gradient(180deg, rgba(231, 83, 0, 1), rgba(83, 30, 0, 1) 100%);
    }
    &_red {
        background: linear-gradient(180deg, rgba(204, 0, 0, 1), rgba(57, 0, 0, 1) 100%);
    }
    &_darkRed {
        background: linear-gradient(180deg, rgba(122, 2, 0, 1), rgba(0, 0, 0, 1) 100%);
    }
    &__backImg {
        @extend %fullAbsolute;
        @extend %baseTransition;
        z-index: -2;
        &_yellow {
            @include backImg('/img/barel-golden-02.png', 75%, 50% 100px);
        }
        &_orange {
            @include backImg('/img/barel-amber-02.png', 75%, 50% 100px);
        }
        &_red {
            @include backImg('/img/barel-dark-02.png', 75%, 50% 100px);
        }
        &_darkRed {
            @include backImg('/img/barel-verydark-02.png', 75%, 50% 100px);
        }
    }
    &__backGrad {
        @extend %absolutePos;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 140px;
        z-index: -1;
        &_yellow {
            background: linear-gradient(180deg, rgba(243, 202, 34, 0), rgba(216, 122, 0, 1) 100%);
        }
        &_orange {
            background: linear-gradient(180deg, rgba(243, 202, 34, 0), rgba(83, 30, 0, 1) 100%);
        }
        &_red {
            background: linear-gradient(180deg, rgba(243, 202, 34, 0), rgba(0, 0, 0, 1) 100%);
        }
        &_darkRed {
            background: linear-gradient(180deg, rgba(243, 202, 34, 0), rgba(0, 0, 0, 1) 100%);
        }
    }
    &__caption {
        @extend %freedokaFont;
        font-size: (20rem / 16);
    }
    &__description {
        font-size: (14em / 16);
    }
    &__cost {
        font-size: (12rem / 16);
        padding: 10px 10px 0;
        margin: 0;
        font-weight: 300;
    }
    &__price {
        font-weight: 400;
    }
}