.container {
    // width: 1240px;
    // margin: 0 auto;
}

.center-wrap {
    @extend %baseFlex;
    @extend %alignCenter;
}

%nullLink {
    text-decoration: none;
}

%nullList {
    list-style: none;
}

%nullInputs {
    outline: none;
}

%baseFlex {
    display: flex;
}

%columnFlex {
    flex-direction: column;
}

%flexFullCenter {
    justify-content: center;
    align-items: center;
}

%justifyCenter {
    justify-content: center;
}

%alignCenter {
    align-items: center;
}

%textCenter {
    text-align: center;
}

%basePos {
    position: relative;
    z-index: 1;
}

%absolutePos {
    position: absolute;
}

%marginCenter {
    margin: 0 auto;
}

%baseTransition {
    transition: .3s;
}